# NodeJS
node_modules/
bower_components/

# Junk
.DS_Store
yarn.lock
*.log

# editor
.vscode/
.idea/
*.iml

# Build
target/
out/
build/

# linters
.eslintrc.json
.sass-lint.yml

# Build
output/*.png
output/*.jpg
video/
