<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.3.0/material.indigo-blue.min.css" rel="stylesheet" type="text/css"/>

    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>

    <!-- bundle.css is injected here by html-webpack-plugin -->
  </head>

  <body>
    <header>
      <h1>About</h1>
    </header>
    <ul>
      <li><a href="/index.html">Home</a></li>
    </ul>
    <p>I created this about page only to check that the CommonsChunkPlugin is configured correctly. 
      Check the bundles in Chrome Dev Tools.</p>

    <!-- bundle.js is injected here by html-webpack-plugin -->
  </body>
</html>
